[2018-09-25 20:25] bast opened #2 "mv webside sources into this repository"
Currently they are at https://gitlab.com/openrsp/website but now that the source code repo is public, there is no reason to split these.

[2018-09-25 21:04] bast opened #3 "project website is openrsp.org"
And not https://gitlab.com/openrsp.

[2018-09-26 09:13] bingao opened #5 "Polish information and documentation files before release"
To be done before release:

1. Look through RST files in the root directory and "doc" directory
2. Update "ChangeLog" if we still keep it
3. Update "openrsp.bib" if we still keep it

[2018-09-26 09:15] bingao opened #6 "Unit testing"
If time allowed, make the unit testing easier and optionally add more unit tests before release.

[2018-09-26 09:20] bast commented on #6
For this I will need some information on how to build and run the unit tests right now. Then I can hook it up with CMake. I know the documentation is somewhere but collecting the pointers here in the issue with help.

[2018-10-08 13:53] #3 closed, assigned to nobody

[2018-10-09 16:35] bast commented on #5
Please split these into individual issues. Then it is much easier to take them and resolve them. I am now working on hooking up the RST sources with http://www.openrsp.org and also #2.

[2018-10-09 16:37] bast commented on #6
Unassigning myself: I like to self-assign once I really start working on it.

[2018-10-09 17:15] bast opened #8 "Merge ChangeLog and NEWS.rst"
For me they are the same thing. It's a changelog.

[2018-10-09 17:16] bast opened #9 "Update "openrsp.bib" if we still keep it"

[2018-10-09 17:16] bast commented on #5
1 is too vague IMO, 2 and 3 are followed up in #8 and #9, respectively.

[2018-10-09 17:16] #5 closed, assigned to bingao

[2018-10-11 09:15] bingao commented on #6
Hei @bast

The unit testing needs to compile QcMatrix first. Do you think if it is a good idea to include QcMatrix as an external repository into OpenRSP? Or do you have any other better solution?

Thank you.

[2018-10-11 09:24] bast commented on #6
Yes, we can add it as external dependency but it does not have to be a submodule. IMO it should not. Can you describe here how you would fetch and build the dependency and run the tests on the command line? Then I can translate it to a Travis CI recipe.

[2018-10-11 10:08] bingao commented on #6
Hei @bast

I am not sure if it is able to build using Travis CI. Anyway, here are the steps:

1. One first needs to clone the QcMatrix library,
`git clone https://gitlab.com/bingao/qcmatrix.git`

2. Switch to a workable commit,
`cd qcmatrix`
`git checkout 77529cd2705e76ea5f5635a78b45f2eaf361ea4d`

3. Build the QcMatrix library, for instance,
`mkdir build`
`cd build`
`cmake .. -DQCMATRIX_ENABLE_VIE

[2018-10-11 10:14] bast commented on #6
I am very confident that we can get it done with Travis. Thanks for the explanations. I will have a go at it and ask if I get stuck.

[2018-10-11 10:18] bingao commented on #6
Great. Thank you.

[2018-10-17 10:42] bast commented on #6
The qcmatrix library in the above description is not building the `qcmatrix_f.mod`, probably some option is missing?

[2018-10-17 10:43] bast commented on #6
Also if you try to recreate the above, there is a typo: `-DDQCMATRIX_TEST_EXECUTABLE` (repeated "D").

[2018-10-17 10:44] bast commented on #6
Perhaps OpenRSP should not be looking for `qcmatrix_f.mod` but then some other options is perhaps missing.

[2018-10-17 10:45] bingao commented on #6
Hei @bast

Sorry that I forgot one also need `-DQCMATRIX_Fortran_API=F03` in the step 3.

I add it into my previous comment and remove the duplicated `D`. Thank you.

[2018-10-17 10:46] bast commented on #6
Thanks!

[2018-10-17 10:48] bingao commented on #6
Yes. I also feel it is weird, because the variable `OPENRSP_FORTRAN_API` in OpenRSP `CMakeLists.txt` is `OFF`, and it should not look for `qcmatrix_f.mod`. I will look into later.

[2018-10-17 11:04] bast commented on #6
I managed to get it almost working but now getting:
[code]
Is this expected? How do you work around that?

[2018-10-17 11:05] bast commented on #6
Full output: https://travis-ci.org/openrsp/openrsp/builds/442622038

[2018-10-17 11:05] bingao commented on #6
Hei @bast

Yes, I fixed this bug. I am pushing it now, and write to you once it is done.

[2018-10-17 14:40] bast opened #14 "Get rid of TODO.rst"
Convert todo items to issues.

[2018-10-17 19:06] bast commented on #6
The build and test is implemented in #15.

[2018-10-18 09:17] bast commented on #6
Why is it reopened? Fixing the test is a separate issue.

[2018-10-18 09:18] #6 closed, assigned to bast

[2018-10-18 09:24] bingao opened #16 "Fix unit testing"
The main error is as follows,

`
QcMatSetDataType>> input row index 1 of block 0

`

It seems to be related to zero- or one-based ordering, which should be fixed quickly.

[2018-10-19 13:12] bast opened #17 "Update ChangeLog"

[2018-10-19 13:15] bast opened #18 "Document long-term roadmap"
Taken from the decommissioned `TODO.rst` file, not sure if still relevant or up-to-date:

- Changes to perturbation free scheme
- Implements the symbolic operations
- Adds response theory based on molecular orbital coefficients? coupled cluster?

[2018-10-19 13:17] bast opened #19 "Remove the frequency of perturbation `a` in `OpenRSPGetRSPFun`"
Not sure this is still relevant - I lifted this issue out of the decommissioned `TODO.rst`.

[2018-10-19 13:18] bast opened #20 "Add nuclear contributions in tests"

[2018-10-19 13:18] bast opened #21 "Add DFT contributions in tests"

[2018-10-19 13:18] bast opened #22 "Add the API for residue calculations"

[2018-10-19 13:18] bast opened #23 "Adds integrals and expectation values in callback functions"

[2018-10-19 13:50] bast opened #26 "Track the version information in one place only"
To make sure that e.g. Sphinx and rest of the code show a different version.

[2018-10-23 10:03] bast commented on #26
... show the **same** version.

[2018-10-23 12:12] #14 closed, assigned to bast

[2018-10-23 12:13] #8 closed, assigned to bast

[2018-10-23 12:16] bast opened #28 "Set up hook to refresh the website"
I forgot to do that. Working on it.

[2018-10-23 12:41] #2 closed, assigned to bast

[2018-10-23 12:44] ringholm opened #29 "Second round polish of website/documentation"
Some parts of the documentation on the website are out of date and should be updated before the release. Several of these parts are described in the review comments for pull request https://github.com/openrsp/openrsp/pull/27 which can be a starting point for working on this issue.

[2018-10-23 12:53] bast commented on #28
This is fixed now.

[2018-10-23 12:53] #28 closed, assigned to bast

[2018-10-23 12:54] bast commented on #29
The repo now correctly updates/renders to http://openrsp.org so the cleanup can start.

[2018-10-23 13:13] bingao commented on #22
This is done, and should be removed from TODO previously.

[2018-10-23 13:13] #22 closed, assigned to nobody

[2018-10-23 13:15] bingao commented on #19
This is done, and should be removed from TODO previously.

[2018-10-23 13:15] #19 closed, assigned to nobody

[2018-10-23 13:15] bingao commented on #23
This is done, and should be removed from TODO previously.

[2018-10-23 13:15] #23 closed, assigned to nobody

[2018-10-23 13:19] bingao commented on #18
Hi @bast

These 3 are still in my plan, but they are not for this release. According to your opinion, where is good place to put long-term projects on Github?

[2018-10-23 13:20] bingao commented on #17
Hi @bast

Is this issue also from TODO list? If yes, we can close it.

[2018-10-23 13:21] bingao commented on #29
I think this issue and the unit testing issue are more important for this release.

I will first work on the unit testing, and back to this issue afterwards.

[2018-10-23 13:22] ringholm commented on #29
I agree - as long as we remember to get back to it :)

[2018-10-23 13:28] bast commented on #18
I would put it either under `doc/` or into the `README.rst`. I agree that it's not top prio.

[2018-10-23 13:29] bast commented on #17
We have to make sure that at release time https://github.com/openrsp/openrsp/blob/master/ChangeLog.rst is correct. Once it is, we can close it.

[2018-10-24 09:55] bingao commented on #18
OK. I will move them into `doc` and close this issue once it is done.

[2018-10-24 09:57] bingao commented on #20
This is not important for the current release. It means we need more unit testing and also test if nuclear contributions work as expected.

I will move this into `doc` as a future plan, and will close this issue once it is done.

[2018-10-24 10:01] bingao commented on #21
I am not quite sure if we need to add some unit testing for DFT contributions for the current release, and if we have enough time to do it. Because I need to first run such a real calculation, for instance using LSDalton or Dalton, and fetch (un)perturbed matrices from the calculation.

For now, it is not straightforward for me to fetch such matrices from either LSDalton or Dalton. Therefore, I wo

[2018-10-24 10:02] bingao commented on #21
Another reason is: I am more or less sure that the callback scheme should also work for DFT contributions. So that it might not be urgent to have such a test implemented.

[2018-10-24 10:09] #16 closed, assigned to bingao

[2018-10-24 10:10] bast commented on #21
I agree that the unit test can and probably has to wait until the functionality is in the parent code so that we can generate the test data.

[2018-10-24 10:11] bast commented on #20
If we need this test, let's keep the issue. Otherwise I would close the issue but not put it in the roadmap.

[2018-10-24 10:13] bingao commented on #20
We need this test, but also not urgent for this release. Because we are sure the nuclear contribution callback scheme works in LSDalton+OpenRSP.

OK. I will keep this issue, because it would be straightforward to fetch the reference data from LSDalton+OpenRSP.

[2018-10-24 10:18] bast commented on #20
What I meant is: it's no problem to have open issues. We will almost never have no open issues :-)

[2018-10-26 10:12] bingao commented on #29
Hi,

Just let you know, I started to work on this issue since yesterday. I am, more or less sure a first draft can be finished during the weekend.

[2018-10-26 10:22] bast commented on #29
Cool! Can you please self-assign? This will signal to others that you are working on it.

[2018-10-26 10:23] bast commented on #29
... to avoid double-work, dead-locks, and conflicts. At any moment you can again un-assign to signal that you are not working on it.

[2018-10-26 10:23] bingao commented on #29
OK. But I do need others' review afterwards. Means that I prefer more people can have a look at the generated HTML files at http://www.openrsp.org, and correct if there is anything incorrect.

[2018-10-26 10:29] bast commented on #29
Review is required anyway. And self-assigning does not mean that you will do everything, it just means that you work on it now and may hand it over to somebody else.

[2018-10-26 10:30] bast commented on #29
Fixing the text on the website is a collective effort, just to avoid any doubt - this is not all on you to fix.

[2018-10-26 13:11] ringholm commented on #29
How about @bingao does a first pass, then I can take the next pass and then assign more isolated tasks to the people who would best be able to deal with them?

[2018-10-26 13:12] bingao commented on #29
Agreed.

[2018-10-26 14:08] bingao commented on #29
Hi,

I almost finish the first draft, probably I can make a pull request tonight. Two questions:

To @ringholm could you please check if http://www.openrsp.org/en/latest/modularization.html is still needed. Because the specification of perturbations have been described in http://www.openrsp.org/en/latest/manual/openrsp_introduction.html#openrsp-notations-and-conventions and http://www.openrsp.org/

[2018-10-26 14:27] ringholm commented on #29
@bingao  http://www.openrsp.org/en/latest/modularization.html should be safe to remove.

[2018-10-26 22:31] bingao commented on #17
I move the file to `doc/change_log.rst`.

[2018-10-28 12:40] bast commented on #29
Yes, website should auto-update after merge.

[2018-10-29 09:07] #9 closed, assigned to nobody

[2018-10-29 09:07] #18 closed, assigned to bingao

[2018-10-29 09:10] bast commented on #29
I think this issue is too diffuse - it may not be clear when this is "solved". I think we should split it up into smaller, more concrete tasks.

[2018-10-29 09:53] bingao commented on #29
Hi @bast

Thank you. I guess @ringholm will split it up once he finishes his pass, according to our previous discussion.

[2018-10-29 11:20] bingao commented on #29
Hi @bast

May I ask what the appropriate/efficient way is, if I want to do minor corrections to the documentation (such as typos) and merge into the master? Thank you.

[2018-10-29 11:21] bingao commented on #29
Can we make a branch in this repository, only for documentation work? So that everyone can work on this branch, and once done, we merge it into master?

[2018-10-29 12:25] ringholm commented on #29
Yes, we can do that. @bingao Do I understand the log correctly that your work is now merged into master? If so, I will make a new branch to do my pass and we can continue working from there.

[2018-10-29 12:27] bingao commented on #29
Hi!

Sorry that I am working on some typo fixing. Please wait for a few hours (or less). I will make a pull request once I finish.

Then you can start :-)

[2018-10-29 12:28] ringholm commented on #29
OK, sounds good! I saw the pull request on https://github.com/openrsp/openrsp/pull/32/ when I came back to work now and I thought that was your last piece of work for this iteration.

[2018-10-29 12:55] bingao commented on #29
Yes, I thought too. But I found some typos and minor issues that it is better I fix before hand over to you guys :-)

[2018-10-30 09:01] bingao commented on #29
Hei @ringholm

I finished my first round for the work of website and documentation. I have changed the name of this issue and unassigned myself so that you can now start your round.

I am going to create a few issues regarding the documentation and website (probably most of them are trivial changes on the documentation), and assign some of them to individual persons who I think are the appropriate

[2018-10-30 09:03] bingao opened #34 "Affiliations of authors"
To @danielhfriese

I have changed your affiliation at doc/authors.rst, could you please check if it is OK.

To @ringholm will you change your affiliation?

[2018-10-30 09:05] bingao commented on #34
Daniel is not in the openrsp organization yet. Could @bast please invite him?

[2018-10-30 09:07] bingao opened #35 "Sphinx and documentation"
I find doc/manual/sphinx.rst should be updated. Would it be also better that we describe how to generate documentation (HTML, PDF etc.) from the rst files?

I also add a sentence in the `README.rst`:

Please feel free to change it if you like.

[2018-10-30 09:09] bingao opened #36 "Known problems and limitations of OpenRSP"
To @bast , please check the two issues in doc/manual/limitations.rst:

* Not safe to use "regular" DFT on Dalton's openrsp branch.
* vibgamma test broken on GNU.

To @danielhfriese , please check if there is any limitation on residue calculations, and if there is, please add to doc/manual/limitations.rst

To @ringholm do you know if there is any other limitations and known problems? If yes, please

[2018-10-30 09:11] bingao opened #37 "Data type description in documentation"
I need to double check data type description in `doc/manual/api_reference.rst` and `doc/manual/callback_functions.rst`

[2018-10-30 09:14] bingao opened #38 "Update/rewrite Daniel's code documentation"
@danielhfriese has written a nice documentation regarding the core part of OpenRSP. I am not sure if it is updated and ready to put on the website and be public.

Therefore, could you guys please have a look at [Daniel’s code documentation](http://www.openrsp.org/en/latest/developer/pseudocode.html) or this file `doc/developer/pseudocode.rst` and make a decision?

[2018-10-30 09:23] bingao opened #39 "Tentative rules and/or coding standards for developers"
Hi @bast and @ringholm

I previously wrote a tentative rules (`doc/developer/rules.rst`) on how to design and prepare codes/tests/documentation for OpenRSP, which in my opinion, is not very strict on the coding style/requirements.

Radovan also had coding standards for developers, `doc/developer/coding_standards.rst`, which does have some rules/suggestions on coding (though I do not follow all of

[2018-10-30 09:25] bingao opened #40 "Source codes in src/input"
Hi @bast and @ringholm

Do you know if these codes (in `src/input`) are still used or need to be kept for some time?

Please also update `doc/developer/files_and_directories.rst` for these files.

[2018-10-30 09:28] bingao opened #41 "Double check equations in documentation"

[2018-10-30 09:37] bingao opened #42 "Restructure website/documentation before release"
Hi @bast and @ringholm

I think after Magnus finishes his work on website/documentation, and we finish issues related to website/documentation, we can perform a last round polish before release. Here are some questions:

1. I would prefer that more people, or better all principal authors can take a look at the website and documentation, and make their comments/changes. How do you think?
2. If you

[2018-10-30 10:14] bast commented on #42
1. Everybody.
2. I prefer if people self-assign to signal that they actually work on it and actually have time to work on it.
3. OK for me.
4. One branch per issue. Everybody sends pull-requests towards master.

[2018-10-30 10:17] bast commented on #34
OK I will write an email to Daniel.

[2018-10-30 10:23] ringholm commented on #42
1. I agree that we should get all the principal authors to at least approve the website/documentation and it is also great if as many of them as possible are actively involved with the text.
2. I agree with Radovan.
3. I want to get a better idea about what the whole website/documentation contains and lookslike now and I will get started on this after completing some other "active" points on my li

[2018-10-30 10:42] bast commented on #34
@danielhfriese is invited.

[2018-10-30 11:44] bingao commented on #34
Hi @bast

@danielhfriese is Daniel's GitHub account, right?

[2018-10-30 11:53] bingao opened #43 "Citation of OpenRSP program/library"
Hi @bast and @ringholm ,

I think we may need a more appropriate way to cite OpenRSP program/library (at least, a DOI needed).

Now in `doc/citations.rst`, I just simply copied and pasted from LSDalton manual regarding OpenRSP:

Therefore, could you please fix it some time?

[2018-10-30 11:55] bast commented on #34
Right.

[2018-10-30 12:13] bast commented on #43
I will get the DOI once we release but we need a collective decision about how we wish to be cited.

[2018-10-30 12:18] bingao commented on #43
Thanks. I clear the assignees so that a collective decision is required as you suggested.

[2018-10-30 14:29] ringholm commented on #29
Thank you @bingao for this work! I will start looking at it now and continue tomorrow. I will first read the issues you started and see what I can do about those, then do a more general pass on the documents.

[2018-10-30 15:24] ringholm commented on #34
I think I should leave the affiliation as it is since I am still formally employed by UiT.

[2018-10-30 15:38] bingao commented on #34
OK. Then we can close this issue once the affiliation of Daniel is confirmed.

[2018-10-30 16:39] bingao commented on #41
Hi @bast

Have you encountered the following problem when using underscores in `\texttt` in a math mode?

I used

and I want some text `pert_tuple` shown in the superscript. But it shows `pert\_tuple`. I remember the sign `\` is needed in LaTeX before the underscore, don't we need it in rst files? Thank you.

[2018-10-30 23:12] bingao commented on #41
Hi @bast

Do not mind, I have removed the underscores in equations.

[2018-10-31 07:24] #37 closed, assigned to bingao

[2018-10-31 07:24] #41 closed, assigned to bingao

[2018-10-31 10:31] foeroyingur commented on #43
Sorry for going a bit off topic. I'm wondering if citation file format ([CFF](https://citation-file-format.github.io/)) is relevant, @bast? I was considering using it for other projects but not sure whether it has been adopted by anyone?

[2018-10-31 10:34] bast commented on #43
Yes we should use it, I discussed with Stephan two days ago :-) But I think we should also recommend a citation that people can put in their papers. I wanted to work from this side but also add CFF and DOI.

[2018-10-31 11:21] bingao commented on #29
Hi @ringholm

I saw you created a branch `documentation-second-pass`, which I understand you will have your work on this branch, right?

If yes, I hope you would not mind that I just push a typo fix to this branch :-)

[2018-10-31 11:54] bast commented on #38
The code has changed a lot since last time I wrote inside OpenRSP and I haven't written this particular documentation so I am not in a position to judge whether it is up to date or not. If we are unsure, we can put a warning banner on top.

[2018-10-31 13:23] ringholm commented on #29
@bingao you are correct that this is the branch I use and feel free to push to it :)

[2018-10-31 16:01] ringholm commented on #38
If I remember correctly, this document was originally Daniel's own notes for learning the inner workings of OpenRSP and was since developed into the current document. However, from a brief look I don't think it is up-to-date with the most recent version of the code. Going through this and verifying with the code appears to me to be a several-day job.

[2018-10-31 16:14] ringholm commented on #39
I think this document was written mainly with us core developers in mind. If we want this to be a general set of guidelines for "outside developers", we may want to expand it and make sure that the present code adheres to the guidelines. Also, maybe there is an official spot for this kind of document on the repository page here on GitHub?

[2018-10-31 16:18] ringholm commented on #36
I have added one current known limitation (the T matrix contributions). There may be others that also should be mentioned here and in this case I'll add them too.

[2018-10-31 16:22] ringholm commented on #40
I think that they belong to the Dalton version of OpenRSP and are not used currently. I have for now removed the reference to them in `doc/developer/files_and_directories.rst`.

[2018-10-31 16:27] ringholm commented on #42
I have now found myself doing work on several of the issues in one branch despite what I wrote for point 4 above - sorry about that.

[2018-10-31 16:38] bast commented on #39
The standard would be to put it in `CONTRIBUTING.md`: https://help.github.com/articles/setting-guidelines-for-repository-contributors/

Totally fine to relax some of them.

[2018-10-31 16:39] bast commented on #42
OK - I will wait until you are through, and then I can do a round.

[2018-10-31 22:23] bingao commented on #40
Since they are not used currently, do we still need to keep them in repository? If yes, I think we need to know what they will be used for.

[2018-10-31 22:24] bingao commented on #38
Then I suggest we remove it from "Documentation for developers". I will do it.

[2018-11-01 08:24] bast commented on #38
But what does remove really mean? Will the sources of it remain in the repo?

[2018-11-01 08:25] bast commented on #40
If they are not used, I suggest to remove them.

[2018-11-01 08:33] bingao commented on #38
“Remove” is not the right word. I should say I remove the reference to it in documentation, but still keep the file in the repository.

It is for your guys to decide if also removing the file or not.

[2018-11-01 08:50] ringholm commented on #38
I prefer for now a solution where we do not show it on the website but keep it in the repository. Later we decide on a plan for this document.

[2018-11-01 08:51] ringholm commented on #40
Fine with me to remove them.

[2018-11-01 08:53] bingao commented on #38
Hei Magnus,

I chose your solution, and pushed to the second pass branch, in which this file is not shown on the website.

[2018-11-01 09:08] bast commented on #38
But with this we create dead code. Nobody will see it, nobody will see that it is outdated and getting more outdated by the day.

[2018-11-01 10:20] ringholm commented on #38
It is not dead (and in a sense also not code) but we haven't decided just what to do with it yet. Do you think we should just remove it?

[2018-11-01 10:23] bingao commented on #38
My understanding is we will work on this file later, not now because we do not have enough time and it is not important for the current release. Therefore it is not dead code.

My solution is we do not show this file on website, but mention we will work on it in an issue and/or in limitations and future plans. I can add such information to the second pass branch.

[2018-11-01 10:28] bast commented on #38
If it is totally outdated and irrelevant, we should remove it.
If it is slightly outdated and can be made relevant, we can:
- remove it from the website and create an issue to reactivate
- leave it on the website with a big warning banner that this is possibly outdated

Removing from the website and not following up in an issue is not an option for me: this will create dead documentation sources.

[2018-11-01 11:17] bingao commented on #40
Hi, I have removed these files and committed to the branch `documentation-second-pass`. Once this branch is merged into `master`, we can close this issue.

[2018-11-01 11:25] bingao commented on #38
I have removed this file from website, and add an item in future plans (`doc/manual/future_plans.rst`) like:

`* Update/rewrite :doc:`Daniel’s code documentation
  <../developer/pseudocode.rst>` for developers, based on the current
  implementation of the "OpenRSP response" part (see :ref:`openrsp_framework`)`

As I understand, @ringholm and @danielhfriese could be the appropriate persons to fix t

[2018-11-01 11:25] bast commented on #40
Please auto-close issues in commit messages so that we don't have to remember to close issues and so that issues and code changes are cross-referenced.

[2018-11-01 11:45] bast commented on #38
Why not create an issue instead of listing it under future plans?

[2018-11-01 11:48] ringholm commented on #38
I am making my way to the future plans document in my work on the website. My preliminary opinion is that we should consider removing that page and have such plans be described by milestones and issues in the repository.

[2018-11-01 11:53] bast commented on #38
It's OK to have a roadmap documented somewhere but "future plans" should IMO not be a place to hide away issues that are better tracked as issues.

For me issues are issues that anybody can take up. Roadmap is something that we plan to do eventually.

If I visit a new project and want to know: "what issues do the developers know about?" - I check issues and not the roadmap/future plans.

[2018-11-01 11:56] bingao commented on #38
Hi

Here are the plans:

1. Update/rewrite :doc:`Daniel’s code documentation <../developer/pseudocode.rst>` for developers, based on the current implementation of the "OpenRSP response" part (see :ref:`openrsp_framework`)
2. Change or abandon literate programming approach (because of extra work on maintenance and further development)
3. Add more unit tests (currently only polarizability)
4. Change

[2018-11-01 12:35] ringholm commented on #29
@bingao @bast @KennethRuud I have been browsing the website as it is now and I am starting to think that we should do a substantial reorganization over the present form.

What I suggest as a starting point for discussion is the following general structure:

* Brief introduction:
  * What is OpenRSP and what can it do?
  * Why is it good to use?
  * Brief history
* Authors
* Programs where OpenRSP

[2018-11-01 12:55] bingao commented on #29
Hi,

I think your proposed structure is better. But I doubt if we have enough time to make it ready for the desired date of release.

To summarise, I think we need to first consider how many days/weeks needed for such a reorganization and modification. If it will take too long, I would suggest that we reorganize it after the release.

[2018-11-01 13:14] ringholm commented on #29
I think this is a interesting point about the time use and this is my view about it:

1. The website is not currently in a good enough state to properly serve its purpose when we release the code.
2. The work needed to bring the website to that state will anyway be substantial.
3. Reorganizing it in a format like the one I suggest may not take much more time than what we would anyway need to do fo

[2018-11-01 13:46] bast commented on #29
I agree that this would be good. Especially we need to make very clear what OpenRSP is about and for in 2 sentences. Let's do one step at a time, let's keep issues and PRs small. Whatever we have no time to do now, let's spawn new issues.

[2018-11-01 13:56] ringholm commented on #29
I also want to say that as long as the bare minimum is in place, I would rather that missing parts be added later than having live on the website documents that may cover them, but in a possibly unpolished form or a form that is tricky to navigate. What I consider the bare minimum may not include everything in the above list.

Maybe we could even begin by clearing out the entire website and fill i

[2018-11-01 14:42] bingao commented on #29
Let me just give an approximate time needed for my part:

#. Files in `doc/manual` and `doc/tutorial`, and
#. Files `doc/developer/background_and_rationale.rst` and `doc/developer/openrsp_design.rst`.

If it requires me to reorganize the above files to fit the proposed new structure, I need at least 2 weeks or more. It not only the problem of just putting these files into some place, but also rewr

[2018-11-01 14:44] bast commented on #29
I think it's fine if we continue after release. Also I do not expect that people will storm our doors and proof-read our documentation on day 1.

[2018-11-01 17:03] ringholm commented on #29
@bast I agree that we don't need all of this to be ready by the release, and @bingao I agree that spending two weeks on this now is a bit too much. However, I think I would prefer that documents that are not fully developed and organized yet are not put on the website until they are. I can take care of starting the reorganization and putting first only the most essential information there. Then we

[2018-11-01 17:48] bast commented on #29
I think reorganization is no problem but let's merge the open work ASAP, let's have short-lived branches, let's close then issues which are done and then we can iteratively improve.

[2018-11-01 17:48] bingao commented on #29
Hei @ringholm

Thank you for taking care of this. I am OK if you believe it is manageable.

[2018-11-02 10:38] bingao commented on #36
Hi,

@danielhfriese has written to me regarding the limitation of the current implementation for residues:

* The current implementation of residues is just tested for electric field perturbations and single residues.

I have added it to `doc/manual/limitations.rst` and committed to the branch `documentation-second-pass`.

As such, I think this issue can be closed once there are no more known prob

[2018-11-02 12:04] ringholm commented on #29
OK, just to check if we all agree on this plan:

* I will PR the latest website work into master, then start a new branch from that (let's call it `website_overhaul`.
* In this branch, I will clear the website and reassemble it in the shape of the above list using the parts we have.
* I will do the most essential stuff for now and leave out things that are less essential or entail too much rewriti

[2018-11-02 13:05] bingao commented on #29
Hi @ringholm

Sounds good.

A question regarding the release: is there any deadline for the release now?

[2018-11-02 13:08] ringholm commented on #29
The new deadline that was discussed is to my knowledge November 15 but publicly (see https://twitter.com/daltonprogram/status/1057639749668634628 ) it is just "further delayed".

[2018-11-02 13:09] ringholm commented on #40
Now fixed, closing.

[2018-11-02 13:09] #40 closed, assigned to bast, ringholm

[2018-11-02 13:09] ringholm commented on #29
Closing this issue.

[2018-11-02 13:09] #29 closed, assigned to ringholm

[2018-11-02 17:30] ringholm commented on #42
Renamed issue to "Restructure website/documentation before release". I have now pushed a branch `website-overhaul`. I have made a first commit there which restructures the index page in the new form, plus some other changes. I also have made a document to keep track of files whose reference was removed from the index page so they are not forgotten. This list should be updated as reference to those

[2018-11-03 11:29] ringholm opened #47 "Do an iteration on the new introduction section"
In the reorganized website, the introduction section is called "About the project" and consists of the following files:

[code]

This issue is for my work on these documents - i.e. the "what is OpenRSP and why?", authors list, citation guide, history of OpenRSP, list of programs with OpenRSP, and papers where OpenRSP was used for calculations.

[2018-11-03 11:59] bast commented on #43
After some more thinking I think CFF is the way to go.

[2018-11-03 12:14] ringholm commented on #47
@bast by the way, I seem to recall that it is possible to "hot-build" the website locally to view my changes. Is that true?

[2018-11-03 12:16] bast commented on #47
Absolutely!
[code]

[2018-11-03 12:16] ringholm commented on #47
Great, thanks!

[2018-11-05 13:00] ringholm commented on #47
Fixed by PR https://github.com/openrsp/openrsp/pull/48.

[2018-11-05 13:00] #47 closed, assigned to ringholm

[2018-11-05 13:01] ringholm commented on #42
Update: Part of this is now done by #48. Will move on to the next part.

[2018-11-05 13:04] ringholm opened #49 "Do an iteration on the "how to..." parts of the website"
I will make a first new version of the "Do you want...?" sections of the website as described in https://github.com/openrsp/openrsp/issues/29#issuecomment-435027127 . For this purpose, I will branch off from `website-overhaul` into `website-overhaul-howto`.

I plan to make a quite slim version of this part of the site for now and we can later put in relevant and potentially updated parts of older

[2018-11-05 13:05] ringholm commented on #42
Issue for the next part opened as #49.

[2018-11-05 13:10] bast commented on #49
But `website-overhaul` is now merged so better branch off `master`. Let's try to reduce the number of branches and let's please keep them short-lived. Also if this is a "one person" branch, better do it on a fork to again minimize the number of branches here.

[2018-11-05 13:13] ringholm commented on #49
The last PR was from `website-overhaul-introduction` into `website-overhaul`. I only anticipate one more branching off like this (`website-overhaul-howto`) and then all of `website-overhaul` can be merged back into `master`.

[2018-11-05 13:14] bast commented on #49
OK - over time I would like the number of branches here reduce to very few: master and release branches.

[2018-11-05 13:16] ringholm commented on #49
That's certainly a goal but in this case I was quite pleased with myself for my structuring :)

[2018-11-05 13:37] bast commented on #49
Sorry, yes, I got confused about the PR - I somehow thought it went towards master.

[2018-11-05 15:02] ringholm opened #50 "Contact information"
Some questions about contact information:

Is it OK to give out our e-mail addresses on the OpenRSP website? If yes, should it be in some sort of "mangled" form? If no, is there another way to let people contact us easily?

Also: I think that some of us should be the designated "corresponding authors" for such contacts. I was thinking that this could possibly be me, @bingao and @bast . Are you OK

[2018-11-05 15:04] bast commented on #50
It's OK to put my email address up as `firstname.lastname@uit.no` [sic]. Humans normally get it. Once machines get, it I anyway give up.

[2018-11-05 15:07] ringholm commented on #50
`Very well firstname.lastname working for uit in norway, I think you have nothing to fear about machines as they are surely not as competent as us flesh-based processing units and are certainly not planning anything sinister`

[2018-11-05 15:09] bast commented on #50
Totally not worried now :-)

[2018-11-05 15:13] ringholm commented on #50
`I am glad I could alleviate a fellow human's concerns about OBJECTIVE:DOMINION. I wish you the best in your future activities like drinking water and being inactive for eight hours per day`

[2018-11-05 15:20] bingao commented on #50
OK with me.

[2018-11-05 15:21] ringholm commented on #50
Great, thanks to both! Closing.

[2018-11-05 15:21] #50 closed, assigned to nobody

[2018-11-06 08:59] ringholm commented on #49
Fixed by #51, closing.

[2018-11-06 08:59] #49 closed, assigned to nobody

[2018-11-06 09:00] ringholm commented on #42
Issue #49 now closed. Looking over it one more time before the final merge.

[2018-11-06 09:09] bast commented on #42
Super! Then I will do a round.

[2018-11-06 10:08] ringholm opened #53 "More papers with OpenRSP?"
The http://www.openrsp.org/en/latest/papers_openrsp_all.html page contains one version of a list of papers with OpenRSP that I made from listing articles where I am involved.

But I am not sure if the list is complete: For one, Yann Cornaton may have used the program on his own, but most importantly, Andreas Thorvaldsen (I think @ajthorva ) has published several papers which might be appropriate t

[2018-11-06 10:09] ringholm commented on #53
I should add that I don't consider this issue to be critical for any release deadlines.

[2018-11-06 10:10] #34 closed, assigned to ringholm

[2018-11-06 10:10] ringholm opened #54 "Links to external libraries"
Near the end of the http://www.openrsp.org/en/latest/history.html page I list several external modules that I think deserve mention either because they are used frequently by us, are developed by some of us, or both. Maybe the entries in this list should link to something.

I don't consider this issue to be critical for any release deadlines.

[2018-11-06 10:11] bast commented on #42
Can this issue be closed? Can we spawn off smaller, bite-size issues?

[2018-11-06 10:13] ringholm opened #55 "More information about the early history of OpenRSP?"
I have written a tentative history of the OpenRSP project on http://www.openrsp.org/en/latest/history.html , but I am not so well acquainted with the earliest stages. Maybe @KennethRuud  @ajthorva , @bingao or @bast - who became associated with the project before me - can add something here?

I don't consider this issue to be critical to any release deadlines.

[2018-11-06 10:17] ringholm commented on #36
This document does not appear on the website in the new version because I thought this information may be more appropriately given on GiHub. I suggest to keep this issue open until this is done.

[2018-11-06 10:18] ringholm commented on #35
The sphinx.rst page does not currently appear on the new version of the website. Should we keep this issue or close it?

[2018-11-06 10:19] bast commented on #35
I will look at this and either reactivate or ditch depending on its state.

[2018-11-06 10:19] ringholm commented on #43
The present version of the citation guide is found at http://www.openrsp.org/en/latest/citations.html and should be updated once the present issue is dealt with.

[2018-11-06 10:30] ringholm commented on #42
That's fine with me

[2018-11-06 10:33] bast commented on #42
Is there anything in this issue which is not solved or not followed-up in a smaller issue?

[2018-11-06 11:47] ringholm commented on #42
I think that the main remaining point in this issue is the task of having the interested authors do an iteration on the website. If that is not by itself sufficient to justify keeping this issue (I for one am done with my iteration) then the issue should be closed.

[2018-11-06 11:49] bast commented on #42
OK closing. I think the documentation has matured that we can now work in parallel on it and we can signal to others what we are trying to solve by creating issues and self-assigning issues.

[2018-11-06 11:49] #42 closed, assigned to nobody

[2018-11-06 11:57] ringholm commented on #42
I agree

[2018-11-13 15:57] bast opened #61 "Index inaccessible documentation"
A significant part of the documentation under `doc/` is not referenced in `doc/index.rst` and therefore inaccessible (unless you browse it in the terminal).

We should either index it, or remove it. IMO documentation which is not referenced anywhere follows the same tragic fate as code which is never compiled.

[2018-11-13 16:01] #55 closed, assigned to nobody

[2018-11-13 16:03] #35 closed, assigned to bast

[2018-11-13 16:09] bast commented on #38
I will lift the above list into issues - it does not belong here since it has very little to do with the issue title.

[2018-11-13 16:11] bast opened #62 "Document or abandon the literate programming approach"
Because it adds an extra layer on maintenance and this layer is currently not documented.

For further development it is vital that we understand how to interact with this approach to make changes to the code.

[2018-11-13 16:12] bast opened #63 "Fortran code does not have unit tests"
Consider adding tests for the Fortran portions.

[2018-11-13 16:18] bast commented on #61
https://github.com/openrsp/openrsp/blob/master/doc/list_of_docs_taken_out

[2018-11-13 16:47] bast commented on #61
It is a pity that so much useful documentation has been removed from the website. Now I cannot even point people to installation instructions.

[2018-11-13 19:03] #17 closed, assigned to nobody

[2018-11-13 19:03] #26 closed, assigned to bast

[2018-11-14 21:22] bast commented on #36
No this should really be on the website. The website is the documentation.

[2018-11-14 21:27] bast commented on #36
Unassigning myself - it seems that two questions to me were dealt with. I urge us to reactivate the "deactivated" documentation ASAP, #61.

[2018-11-14 21:34] bast opened #68 "Set release version"

[2018-11-14 21:34] bast opened #69 "Add CFF"
https://citation-file-format.github.io/

[2018-11-14 21:35] bast opened #70 "Get a DOI and document it"

[2018-11-15 12:11] ringholm commented on #61
What in your opinion is the most essential out of the information that was taken out? We could have time to reinstate some of it.

[2018-11-15 12:36] #39 closed, assigned to bingao, bast, ringholm

[2018-11-16 11:05] ringholm commented on #43
@bast Has everything that you need for this issue been decided?

[2018-11-16 11:14] bast commented on #43
Is this list complete: http://www.openrsp.org/en/latest/authors.html?
If yes, then yes :-)

[2018-11-16 11:23] ringholm commented on #43
No, I will look at it now. It's better to have too many than too few authors on this list - but just as a guideline, do you think it's reasonable to include on this list authors who could have made some contribution a while back but who don't have any active code on master? I am thinking about e.g. Orian Louant who made some contributions in the legacy version but who is not active now, nor is I t

[2018-11-16 11:24] bingao commented on #43
IMO, we should have a list of previous authors if we want to add someone who does not have active codes any more and who is not involved into OpenRSP development any more.

[2018-11-16 11:35] ringholm commented on #43
This appears to be the list I used for the license proposal:

[code]

Do we know about any people not on this list who should be mentioned in the authors list? After thinking about this just now, I think that maybe Yann Cornaton should be listed here and I have written to him and asked him about what he contributed. I think he could have contributed to some transformation routines that are not in

[2018-11-16 11:47] ringholm commented on #43
Also there is the matter of Thomas Kjærgaard whose contribution to OpenRSP is unknown, although I think that he was listed in the grep of authors. I have pushed a new list of authors to the branch `website-authors-update` that errs on the side of caution.

[2018-11-16 11:54] ringholm commented on #43
I don't know the present affiliation of @tkjaergaardchem  and @arnfinn: Thomas, could you let us know if you should be listed as an author of OpenRSP and if so, your current affiliation, and Arnfinn, should I put UiT as your current affiliation? (Do you still have a part-time position there?)

[2018-11-16 14:15] bast commented on #43
For the citation part the affiliation is less urgent. Most important is that we get the list of names. Also I assume alphabetical order? (Any order is fine for me)

[2018-11-16 14:52] ringholm commented on #43
I have used alphabetical order of last name. We will PR the updated author list today or tomorrow.

[2018-11-16 19:43] ringholm commented on #43
I have added three more authors: Marco Anelli, Karen Dundas and Nanna H. List. Not clear if all of these should be considered as authors but I am erring on the side of caution: Marco said that he has implemented some properties (I am asking him to tell a little more about it), Karen has not as far as I know contributed to the OpenRSP repository but has done quite a lot of work with callbacks to Fr

[2018-11-16 19:44] bast commented on #43
Thanks! From my perspective: yes.

[2018-11-16 20:56] ringholm commented on #43
@bast A complication concerning the new authors that now emerged is that not all of them were actually asked about the licensing. First of all, do you agree with my sentiment that these should now be considered authors? Secondly, do you think as a consequence that we should ask for their agreement about releasing under LGPLv2.1 before we mint the release?

[2018-11-16 20:57] arnfinn commented on #43
@ringholm: I do not have a position at UiT anymore, but please use UiT as my affiliation.

[2018-11-16 21:02] bingao commented on #43
May I ask how we define an author of OpenRSP? Personally, I like to distinguish previous authors and current authors.

[2018-11-16 21:09] ringholm commented on #43
Update: Marco gave his approval in a merge request discussion earlier. I have asked Karen and Nanna for their approval of the licensing proposal that was sent out in the first round of asking for such approvals. We did already do some of what we asked about in their proposal but I think the best we can do now is to ask for their approval about all of it.

@bast Do you agree that we should wait unt

[2018-11-16 21:13] ringholm commented on #43
@bingao Right now I have used what I think is a permissive definition about an author: It could involve both

* Writing routines that are part of the present `master` branch or any earlier version of code that was written "inside" the OpenRSP project (not necessarily just the OpenRSP repository)
* Done supervision of the project or contributed with advice or discussion to a reasonable degree

I am

[2018-11-16 21:21] bingao commented on #43
Hei @ringholm Thank you for the clarification.

As regarding the first point, I personally do not understand the reason of "not necessarily just the OpenRSP repository", but to the OpenRSP project. Because I understand what we are talking about is the authors of OpenRSP library, as such I feel it is natural to restrict ourselves to OpenRSP repository.

Just my personal opinion.

[2018-11-16 23:29] bast commented on #43
OK it seems there are 4 questions:
1) who should be authors
2) do we need more fine-grain (previous/present, author/contributor)
3) do all authors agree to release the code under LGPL
4) are all authors informed that they are actually authors and do all authors agree to be authors

I consider 3) to be a done fact and would not like to re-discuss it and I hope that the remaining persons simply agre

[2018-11-17 09:48] ringholm commented on #43
OK, so for 1) I would say that the definition of being an author was opened a bit after the meeting on Monday where the consensus seemed to me to be that Simen should also be counted among the authors. He has not to my recollection written any of the code in the OpenRSP repository. If we use your definition @bingao, then he should not be counted among the authors. But if we use a more open definit

[2018-11-17 10:00] ringholm commented on #61
@bast there is now likely not time to do any reinstatement before the release, but once you have time we can use your opinion as a basis for prioritizing the reinstatement.

[2018-11-17 10:03] bast commented on #61
IMO the biggest gap right now is that we do not document how to compile, install, and link to the library from an external program. Right now it requires advanced CMake expertise to figure it out or alternatively to do forensics in the LSDalton repository.

[2018-11-17 10:10] bast commented on #43
If I am to create a citation recommendation tomorrow, I think it is simply too late to now discuss who should be authors and who should not. This should have been started weeks ago.

With this I see the following options:
1) We list http://www.openrsp.org/en/latest/authors.html and add more authors for 1.0.0.
2) We list everybody who has been mentioned in this thread and adjust for the 1.0.0 relea

[2018-11-17 10:18] bingao commented on #61
See https://github.com/openrsp/openrsp/blob/master/doc/manual/installation.rst

[2018-11-17 10:28] bast commented on #61
Thanks! Yes, it would be great to have this rendered to http://www.openrsp.org and not "hidden" in the repo. And this does not have to happen today. I put this issue up so that others see that we know about this problem.

[2018-11-17 10:30] ringholm commented on #61
I was just going to write that what @bingao wrote here - I admit that I may been a bit heavy-handed when I reorganized the website, and I think it's likely that more of these files could be reinstated with little or no modification. I just didn't get the time to verify that for all of them.

[2018-11-17 10:31] ringholm commented on #43
I don't know what to do and I don't feel competent to make this decision by myself.

[2018-11-17 10:34] bingao commented on #43
My suggestion is that we should not do anything if we do not know. I suggest that we need to vote the decision afterwards, the same as we did for the license.

[2018-11-17 10:36] bast commented on #43
Since we have doubt and little time, my recommendation is that I create tomorrow the tag, get the DOI - this is the right thing from the reproducibility perspective - but I keep the authors undefined/vague until we settle this for the next tag. With this I will also postpone #69.

And "not do anything" means really nothing? No release tag?

[2018-11-17 10:37] bingao commented on #43
Again, I am strict on the definition of authors of a library (please note I am not talking the project): we are release it, we create DOI, it looks like we publish an article. Therefore, I vote for a strict definition of OpenRSP library authors.

[2018-11-17 10:38] ringholm commented on #43
Concerning the discussion about who should be authors - assuming that there is a 1:1 relationship about agreement to the license proposal and the authorship, I did consider that question settled weeks ago after taking your (@bast 's) advice about sending the license proposal to the people on the author grep list. The point was opened again after the question was put to the last OpenRSP meeting abo

[2018-11-17 10:38] bast commented on #43
For me DOI means: make this thing findable 15 years from now. It does not have to mean that we published an official release.

[2018-11-17 10:38] bingao commented on #43
Sorry. Correct myself. I mean do nothing as regarding the names of authors.

[2018-11-17 10:39] ringholm commented on #43
I can also add that I have already contacted Karen, Nanna and Marco and told them that we intend to make them authors. Nanna has already replied and also agreed to the licensing proposal.

[2018-11-17 10:42] bast commented on #43
As to "nothing as regarding the names of authors" - what does this mean for the relase tag:
- no release tag?
- release tag but no DOI?
- DOI but no explicit names?

[2018-11-17 10:44] ringholm commented on #43
I have a branch `website-authors-update` which contains an authors.rst with more authors than what is presently on the website. It can potentially be merged in but I cannot say if it is an exhaustive list or not.

[2018-11-17 10:49] bast commented on #43
I have a feeling that a wide and very exhaustive flat author list is not the ideal solution for all authors (it is totally fine for me), since some have clearly contributed "a lot more" to the library than others. I feel there is an unspoken issue here that we will not solve within 24 hours.

What can we do in practical release terms if we accept that we haven't settled the list of authors?

[2018-11-17 10:54] ringholm commented on #43
@bast I agree with the sentiment that we will likely not solve this within 24 hrs. I am also not sure if we will ever be able to definitely conclude that everyone who ever concluded anything is accounted for.

Accepting that we haven't settled the list of authors, a problem is that we don't know whose approval we should have sought before making the code public, and this problem is brought to a he

[2018-11-17 10:56] ringholm commented on #43
If I were someone whose authorship status in this is unsettled and if I was contacted now with this, I would in all likelihood say "go ahead and do what you like" but I cannot just assume this for others.

[2018-11-17 10:59] bast commented on #43
OK but at least for me neither a release tag, nor DOI have to mean official release. For me these are technical tools which make it easier to find a specific version many years from now.

We can postpone the authors part, does that sound reasonable or should we postpone the tag and the DOI as well?

[2018-11-17 11:02] ringholm commented on #43
But making OpenRSP part of an LSDalton release is official, is it not?

[2018-11-17 11:10] bast commented on #43
By making OpenRSP part of LSDalton release we make it easier for others to use OpenRSP. Whether LSDalton references 5d1e4b1bc7d3d3707f69669902f7114f207f7abf or `1.0.0-alpha` makes little difference to the code and also little difference to the user of LSDalton.

The important thing for LSDalton users is to make it easy for them to cite OpenRSP work.
The important thing for OpenRSP authors is to ge

[2018-11-17 11:13] bast commented on #43
The one real-life danger is that somebody downloads LSDalton 2018.0, uses it, never upgrades, never checks the websites, the output says nothing because we were not sure, hence the user will not cite OpenRSP.

[2018-11-17 11:18] ringholm commented on #43
OK - I need to go in a short while and I will then likely not be available until the evening. I don't know what to do here and I don't feel as if I know enough about this to make a properly informed decision, and I am also afraid of making the wrong decision - basically I feel trapped. I still have the feeling that no matter what we call the making public of OpenRSP with LSDalton, it is a release,

[2018-11-17 11:25] bast commented on #43
My recommendation:
- we create the tag
- we create the DOI but without explicit authors
- in the LSDalton output we refer to http://www.openrsp.org/en/latest/citations.html which allows us to tweak it later (we probably already do)

I am not too worried about the list being exhaustive enough: I think that those who are invested in this project, have been at least contacted or have spoken.

I am mo

[2018-11-17 11:28] bingao commented on #43
I am sorry that I probably misunderstood when @bast prepared the list of authors for asking for license. Does it mean:

1. Once as an author, always be an author even there is no code/document etc. left?

If yes, I would definitely suggest the distinguishing between previous and current authors.

2. To make a release, which contains no contribution from a “previous author”, but this “previous auth

[2018-11-17 11:41] bast commented on #43
These are important questions which are difficult to answer. Dalton and DIRAC has been through this and it is not easy. Impossible to solve this weekend so let's not try to.

As to the present/past: it does matter what past authors have to say. If somebody new joins the team and rewrites the whole library to Python and removes all other authors except their name, we would find it perhaps unfair, t

[2018-11-17 12:01] ringholm commented on #61
@bast and @bingao are we OK with getting back to this after Monday?

[2018-11-17 12:09] bast commented on #61
~I am fine with that provided that there is no expectation then for me to do something tomorrow (tag, DOI).~

[2018-11-17 12:10] bast commented on #61
Oops - different issue. This is totally not urgent now.

[2018-11-17 12:17] ringholm commented on #43
OK, so let me summarize:

* I think that the commit we intend to ship with LSDalton does not contain any legacy code - am I correct in this? If I am correct, then this in all likelihood means that shipping this commit does not constitute any additional "damage" to any of the unsettled authors.
* Granted that the previous point is OK, then @bast I think that I am fine with your recommendation on ht

[2018-11-17 14:04] foeroyingur commented on #43
Sorry, I didn't notice this discussion earlier. Personally, I would not add myself and others who have contributed only very few lines of code in an old legacy version of the code. Actually I wouldn't even do it if it wasn't legacy code. Normally, as far as I know, and it is also my opinion that, coauthorship requires some substantial contribution. Of course substantial is a matter of interpretati

[2018-11-17 14:48] ajthorva commented on #43
I'd say the "LGPL" and "Release author" are separate issues:

1. Do you agree that your parts of the code+docs is released under LGPL 2.1 - this only concerns people with commits in the GitHub repo (including the history that was brought over from GitLab). If someone had declined, his/her commits would have had to be removed from the history ported to GitHub.

2. Do you consent to be co-author of

[2018-11-17 15:32] arnfinn commented on #43
Just to add yet another post to this very long discussion:) My contributions to the code have been minimal, as far as I remember, so I am fine with not being an author of OpenRSP. Thus, I agree with @foeroyingur [comment](https://github.com/openrsp/openrsp/issues/43#issuecomment-439619364).

[2018-11-17 16:26] bast commented on #43
Thanks for the very good input. I am still unsure what to do tomorrow with the tagging.

[2018-11-17 16:39] foeroyingur commented on #43
The tagging itself doesn't include any author information does it?

[2018-11-17 16:46] bast commented on #43
Tagging does not include author info - so I summarize:
- I will tag tomorrow to `v1.0.0-alpha`
- I will create a DOI
- I will send a MR to LSDalton referencing the latest commit in OpenRSP

If you disagree, please let me know.

[2018-11-17 17:04] bingao commented on #43
Hei,

Thank you all for the valuable discussion. I agree that we can not solve this problem during weekend. I think it becomes an important issue, and we need to vote the decision afterwards, instead of few persons involved and made the decision here.

This afternoon I tried to recall my memory as regarding the list of authors prepared by Radovan some time ago. I apologize that I probably misunder

[2018-11-17 17:29] bast commented on #43
Future license change may not be possible without contacting past authors. It is complicated. But these are two different things, I agree.

Roberto reminded me of a good point: software authorship is also maintainership. Maintaining is as important as authoring. This should also play a role when deciding who is author and who is not.

[2018-11-17 19:10] bingao commented on #43
I would like to hear the reason of this point when we have time.

Because I thought the license change is for that release, not for previous releases, and not for the repository of OpenRSP. I also thought the same as the first answer of this question https://opensource.stackexchange.com/questions/33/how-can-a-project-be-relicensed

If the above points hold, then I understand that one does not need

[2018-11-17 19:47] ringholm commented on #43
OK, so several new comments here. I ask that we for now only concentrate on what is necessary to do before the release of LSDalton to the degree that this can be disentangled from other matters.

Concerning this matter, I am still not sure what to do before the release - I am trying here to address the new points about this:

@ajthorva, you add some useful comments. Concerning your comment 1, I th

[2018-11-17 20:13] bingao commented on #43
Hei @ringholm

When I talked the license change, I mean the future change if it happens, not the current release. Therefore, I asked Radovan the reason of

As regarding the text of the proposal, I understand point 1 and 2 are two different things and they are not related to each other.

It might be a problem of the proposal, as I reread it now, is the point 1:

- What is "all applicable material a

[2018-11-17 20:23] ringholm commented on #43
@bingao I have not defined those terms exactly. I think I intended for "all applicable material" to mean "at least the OpenRSP software repository but possibly also other material that may be reasonably associated with OpenRSP if such material exists". I am not sure if I can break the "OpenRSP project" into a more detailed definition.

[2018-11-17 20:42] ringholm commented on #43
It's evening now and I will not stay around for much longer. I don't think I can spend that much time on this tomorrow but I will at least check in early. We should not go ahead until we have settled this.

[2018-11-17 21:02] bast commented on #43
Let us please not discuss re-licensing now. This is a complicated matter and is not urgent. We will discuss it later - in short LGPL affects what you can do with derivative code and even when you completely rewrite it and I contribute nothing to the rewriting, you can not simply change the license to a more closed one without consulting me ("me" as placeholder for a current author, not me as Radov

[2018-11-17 21:12] ringholm commented on #43
@bast Sorry, I should have been more clear about it - maybe I lost the overview here, but I had the notion that there are still unsettled questions before you can mint the release, create the tag and create a DOI, i.e. before we can go ahead with the planned release of OpenRSP in LSDalton. See e.g. my comments in the long post above. But maybe it's best to look at this early tomorrow when at least

[2018-11-17 21:16] bast commented on #43
OK that is totally fine. To be clear: I am on standby and **not** creating a release tag, and **not** setting any DOI until further notice.

[2018-11-17 21:23] ringholm commented on #43
OK, let's continue tomorrow. Maybe I can ask until then whether you think any of the discussion so far or my comments in https://github.com/openrsp/openrsp/issues/43#issuecomment-439642797 should stop our release plans tomorrow.

[2018-11-17 21:32] bast commented on #43
The move to LGPL requires approval from all authors who have contributed to the current state of the code and also from those who have contributed non-trivial patches to previous versions of the code from which the current code derived from, in other words from the copyright holders. The question who copyright holders were can be very difficult to answer.

My understanding was that we had the appr

[2018-11-17 21:50] bingao commented on #43
Hei @bast

Yes, I understand and I think we can discuss it later. But as you wrote here, it affects the **derivative code**. If someone redesigns the code and it becomes totally different from OpenRSP, then it will not be covered by the LGPL scope.

To make it clear: Andreas previously wrote the core part in a manual way, Magnus rewrote the core part but using recursive scheme. These two versions

[2018-11-17 21:58] bast commented on #43
Has Magnus used the original code to arrive at the current code? And I mean the source code, not a specification of the code (algorithm). If yes, then this is in my understanding derivative work.

[2018-11-17 22:26] bingao commented on #43
How about if not? Then it is not a derivative work? Or it is complicated that we would better ask a layer? (well, I do not mean we really need to ask a layer, but rather to emphasize its complexity).

[2018-11-18 09:39] ringholm commented on #43
@bast concerning https://github.com/openrsp/openrsp/issues/43#issuecomment-439649147 I don't know the distinction between a trivial and non-trivial patch. I agree that the question of who copyright holders were could be difficult to answer. Until this discussion I had the belief that we had the approval from all the necessary authors. That was based on taking your advice about the list of committo

[2018-11-18 09:55] bast commented on #43
I was also convinced until this weekend that:
- that this is clearly derivative code (but I am neither a lawyer nor do I know how the new code was written in practice)
- that this is not a problem since all authors that the code derived from were involved

Trivial change: a typo or a rename, not easy to classify but I think we would all recognize trivial changes when we see them.

[2018-11-18 10:04] bast commented on #43
In an attempt to unconfuse: why does it matter whether the present code is derivative or not? Has anybody been left out who has written code that the present code would have derived from if we consider it as derived? I don't think so. I don't think it matters.

[2018-11-18 10:31] bast commented on #43
My feeling from this enormously long and also a bit tiring thread is that the issue is not the present and the past, I think all has been handled correctly, all persons have been involved and there is nothing to object in the licensing to LGPL but my feeling is that there are different views on authorship, credit, and in particular on authorship and credit in the future and this will probably requ

[2018-11-18 10:54] ringholm commented on #43
I don't know if or why it matter whether the present code is derivative or not. As to whether or not anyone has been left out: I mention some people earlier in this thread who may have contributed at least to the legacy code. The fact that I didn't manage to bring this up sooner and the various other concerns about this process makes me question my own ability to manage this aspect of the work and

[2018-11-18 10:59] bast commented on #43
... before we can conclude on the authorship and credit questions. I feel we are turning in circles here and a discussion among you three will hopefully unblock this.

Whether the authorship and credit needs to be agreed upon before the LSDalton release: I don't know. As to my possible authorship and my possible credit: I don't mind at all if this is concluded after the LSDalton release. Obviously

[2018-11-18 11:00] KennethRuud commented on #43
I see this is by now a very long thread, and if it is possible, could someone summarise the key questions that they would like my input on in a concise manner?

[2018-11-18 11:12] ringholm commented on #43
I'll call you and tell what I can. But I might have lost the overview and if someone else feels they can summarize it, please do so here.

[2018-11-18 11:14] bingao commented on #43
My points are as follows:

1. For the current release, we do not have the problem as regarding license, because most people involved in the development have agreed on. Thanks to Radovan and Magnus.
2. I see two things are vague to me, and may affect future changes as regarding at least the license. One is what is “OpenRSP project”, another is who are the copyright holder of the current form of the

[2018-11-18 11:29] ringholm commented on #43
I spoke with Kenneth just now and he is willing to make a decision about what to do. He will post it on this thread. If it is fine with you that we proceed according to this decision then I am also fine with that.

[2018-11-18 11:33] bingao commented on #43
OK. But please bring in my points and concerns, in particular who are the copyright holder of the current release. Thank you.

[2018-11-18 12:22] ringholm commented on #43
OK, I will be back in a few hours to answer any questions that may have come up.

[2018-11-18 12:49] ajthorva commented on #43
PS: (this is of *no* relevance for the "Release authors" issue) For security I just read through the initial commits (by Radovan). They only contain code written by him, myself and Gao. From then on people made their own commits. So I think we should conclude that the LGPL transition was approved by all the required people.

[2018-11-18 12:51] KennethRuud commented on #43
@bingao Could you try clarify your point 4 for me, I am not sure which way you ask the question......

[2018-11-18 13:29] bingao commented on #43
Hei Kenneth,

After reading LGPL, I think the most important (at least for me) is who are the **copyright holder** of the **current form of the OpenRSP repository**. Copyright holders will have the right to influence the future of the OpenRSP repository.

From https://github.com/openrsp/openrsp/blob/master/README.rst, I understand the **copyright holders are the OpenRSP authors** (http://www.openr

[2018-11-18 13:58] bingao commented on #43
Hei Kenneth,

One thing I forgot to mention. It is actually not difficult to check whose derivative work left in the **current form of the OpenRSP repository**.

I just checked all the **current files** in the repository:

1. Most CMake files are written by the current 7 authors. Questionable files include
   1. `cmake/ConfigParentSettings.cmake`, which I modified based on other project (probably)

[2018-11-18 17:27] KennethRuud commented on #43
I am not sure I in the end have the authoritative answer, but going specifically into what Bin Gao asks in terms of copyright authors to the repository and code in the repository.

In terms of the authorship of the repository, I can agree with @bingao general definition, and I note that github actually recommends defining this when establishing the repository.  In terms of whether there are some d

[2018-11-18 17:57] ringholm commented on #43
For the files in `src/ao_dens` on the `master` branch, not counting `CMakeLists.txt` and files in the `adapter` subdirectory, I have the following overview:

[code]
As indicated by `at least`, I cannot guarantee that lines by other authors are not present, but at least this is what I can say from quickly scanning through these files now.

I cannot return to this until tomorrow morning or possibly

[2018-11-18 17:58] bingao commented on #43
A quick answer to @ringholm files in the `adapter` subdirectory are all written by me.

[2018-11-18 18:13] bingao commented on #43
Hei Kenneth,

Thank you.

As regarding the contributions from Orian Louant, Yann Cornaton and Marco Anelli, I think @ringholm can answer whether their work and derivative work are still in the current code. I am sorry that I personally want to separate already removed codes (and authors with contributions totally removed from the current codes) from the current ones. It is just my opinion, I accep

[2018-11-18 18:46] bast commented on #43
In my understanding this is the same group of people.

[2018-11-18 22:19] bingao commented on #43
I also interpret that, (1) OpenRSP authors, (2) copyright holders and (3) authors in the release associated with the DOI are the same group of people. Therefore, I suggest we accept this argument unless someone objects to it.

Another suggestion according to the findings of @ringholm , I suggest that if we can not figure out all persons with work/derivative work in `src/ao_dens/*.f90`, we keep it

[2018-11-18 22:43] ringholm commented on #43
To @bingao , I do not believe that any of the files I listed above contain contributions from Orian, Yann or Marco. I assume that the list on https://github.com/openrsp/openrsp/issues/43#issuecomment-439694848 refers to the `master` branch.

There is definitely code on other branches where work by these three (or maybe not Marco) is still present - see e.g. `src/vib_pv_contribs.f90` (Yann was invo

[2018-11-18 23:11] bingao commented on #43
Hei @ringholm

Thank you for taking care of this. I think it is another ambiguous point to me: I am always talking about the current release or current files of the `master` branch. But it seems that you and @bast are talking about the whole repository with other branches considered. I do not know which one is more appropriate.

I understand you have your arguments, and I can accept the decision f

[2018-11-19 07:04] KennethRuud commented on #43
Although things simplify if all roles are the same, it is not quite clear to me either that they are. A repository may contain multiple libraries that potentially even include different licenses. As such, it could be strange if a library developer who provides functionality to the main project gets to strongly influence the development of the repository itself.

In a similar manner, if someone sta

[2018-11-19 09:11] bast commented on #43
For licensing, DOI, authors, and copyright we should IMO only consider the current `master` branch and its history. We can move all other branches into a separate repository under https://github.com/openrsp if it helps. And for me it is crystal clear that Kenneth should be part of DOI and authors and copyright.

[2018-11-19 09:17] bast commented on #43
All related projects and libraries and tools should IMO be collected under https://github.com/openrsp so that they are easier to discover and find for users but they can carry different licenses, different copyrights, different authors.

[2018-11-19 09:27] ringholm commented on #43
I don't have a strong opinion about any particular set of criteria for being an author at this point and I will go along with whatever you decide.

Concerning the legacy code, I did raise a point about this (see the comments after https://gitlab.com/openrsp/lsdalton/merge_requests/32#note_102701599 ) because I thought it might be cleaner to take it out, but I was reassured by Radovan who replied t

[2018-11-19 09:39] foeroyingur commented on #43
The lines by NHL and myself (and Arnfinn) related to PE are not in use. They are still (privately) accessible through the private Dalton repo and the locked OpenRSP repo on GitLab. In my opinion this is good enough and this code can be removed from the GitHub repo.

[2018-11-19 09:48] bingao commented on #43
I would like to make it clear: I apologize if it is my arguments that makes anybody thinks @KennethRuud can not be the author (of the release). Actually, all my arguments are for:

1. The scheme on how newly proposed person can be an author or not.
2. Even it is not urgent, but it came to that point eventually--do we need a scheme that removes a person from the list of authors?

Furthermore, I hop

[2018-11-19 10:01] bingao commented on #43
My last few arguments for voting for authors per official release:

1. I recall @simensr and Dalton community have done in such a way, right?
2. We were suggested that we need to remove some stale branches, but if we are going to add contributors only involved in these branches, isn't it contradictory?

The last point is only if you would like to add all authors from all branches in the official r

[2018-11-19 10:11] bast commented on #43
I don't understand - the official release that we are trying to create here only concerns `master`. To remove all "distraction" I would like to remove stale branches and also recommend to move all other branches to another repository. The risk however is that they are then out of sight and out of mind. But they will not be lost. For the authorship of this release we should only consider the `maste

[2018-11-19 10:16] bingao commented on #43
Thank you @bast. Your points, I totally agree with.

[2018-11-19 10:48] ringholm commented on #43
Just mentioning it to collect the information here that Karen made some of the OpenRSP tests on the LSDalton side.  She is now being added as an LSDalton author. Does this work by her imply that she should also be added as an OpenRSP author on this release?

[2018-11-19 10:49] ringholm commented on #43
@foeroyingur Is it correct that no code by you or Nanna is presently on the `master` branch of this repository?

[2018-11-19 11:00] bingao commented on #43
Accordingly to Radovan’s suggestion that I also agree with: I would like to say if her codes are on the master branch of OpenRSP, then yes.

But please note: it is now only Radovan and myself agree with the above decision. I would like other authors also to express their opinion.

[2018-11-19 11:01] foeroyingur commented on #43
Yes, that is correct. I am here referring to PE related code and do not know whether Nanna has made contributions in other directions. We had some PE related code in the old interfaces subdirectory and then some calls to that code in various files but this is no longer present, to the best of my knowledge.

I made a very trivial fix in 709f0ac8d51316a421cf3d16b7102aeaf35b2fa5 but this does not war

[2018-11-19 11:29] ringholm commented on #43
I don't think that Nanna has done any non-PE/external electric field-related work in OpenRSP. I don't think Karen has done any work inside the OpenRSP repository. I asked her and she should hopefully reply to the list.

I will go out soon - if anyone feels that the time is ready to make a decision, please feel free to do so without me. I will be back this evening but if there are any pressing matt

[2018-11-19 13:18] ajthorva commented on #43
(after Radovan's EDIT I'm not sure Gao agrees with him any longer)

I agree with Radovan after the EDIT. Besides the master (code, test code and documentation), I would also consider extensive testing, funding, organisation and leadership of OpenRSP as "contributions" worth authorship on the release's DOI.

How to manage release authors in the long run *you* will have to decide between this and th

[2018-11-19 13:26] bingao commented on #43
I did not see the EDIT. But I still agree with it. In my last two posts, I have suggested that we use "intellectual property work" instead of codes/documentation. I guess it is the same meaning as "contributions".

I agree that we should not hold back the release of LSDalton due to this not easily solved problem. But I suggest that we should be cautious to add new authors. I would like to keep it

[2018-11-19 13:43] bast commented on #43
For this release? Or for future releases? If for future, let us please deal with it later. Let us please conclude this. This DOI is about this release. There are hopefully many more releases to come. If we realize that somebody was left out (who?) we can fix that.

Let us talk about this later. Are we worried that somebody is missing? Then we will fix that. Are we worried that the list is too wide

[2018-11-19 13:53] bingao commented on #43
Of course I am talking about this release.

OK. Let me be the person to conclude the author issue for the current release because it seems @ringholm will be back until evening. I will take the responsibility and blame :-)

1. I understand @bast will move all other branches into another repository, and we are releasing based on the `master` branch.
2. New authors/copyright holders so far include @s

[2018-11-19 13:57] foeroyingur commented on #43
Just to be clear. I should **not** be added as author/copyright holder since I haven't made any significant contributions.

[2018-11-19 14:01] bingao commented on #43
Oops, added. Please do significant contributions from now on :-)

[2018-11-19 14:02] bingao commented on #43
Hei @bast

I just made a pull request to add @simensr and @foeroyingur as authors. If you agree, please confirm the request.

[2018-11-19 14:07] bast commented on #43
The important question for me is whether also Simen and Jógvan Magnus agree (see #73). If yes, I will press the green button.

[2018-11-19 18:59] ringholm commented on #43
Just checking in - I see that @bingao has concluded and I am happy for this taking of responsibility. It looks to me like @bast needs the approval of @simensr and @foeroyingur to proceed. I will e-mail them and ask them to look here.

I also notice that "extensive testing" is mentioned by @ajthorva as something which should lead to authorship. I would just remind, like I believe was told earlier,

[2018-11-19 19:14] bingao commented on #43
Hei @ringholm

You do not need to write to @simensr and @foeroyingur the issue is solved.

As regarding authorship criteria, I need a rest to rethink them. But not for the current release, probably for next release.

[2018-11-19 19:55] ringholm commented on #43
Okay, then I assume all has been decided for this release? I am at dinner now but will be on standby when I get back until midnight.

[2018-11-19 20:01] bingao commented on #43
Hei Magnus,

Decision made so far:

1. @simensr is added as new author/copyright holder

2. @bast will move all other branches into another repository, and we are releasing based on the master branch

[2018-11-19 20:07] bast commented on #43
I am working on it. Running some tests. I will update everybody via the mailing list about the branch cleanup.

[2018-11-19 20:45] ringholm commented on #43
OK, that sounds good. We get the opportunity to make changes if we need to for the patch release later. I also want to say thanks a lot for all of the excellent effort with this - I am truly grateful for it.

[2018-11-19 20:48] simensr commented on #43
Let me join in. Thanks a lot for all the excellent work! These have been a stressful few months, but we made it very far and should be proud:-)

I have also launched several tests now, and if they run as expected the Dalton release will be official later this evening.

[2018-11-19 20:50] bast commented on #43
Once Simen tags LSDalton, I will tag OpenRSP. The DOI can come 1 day later, does not matter.

[2018-11-19 21:02] ringholm commented on #43
@bast just double-checking that this does not conflict with https://gitlab.com/dalton/lsdalton/issues/45

[2018-11-19 21:06] bast commented on #43
After my last post here I remembered to enable Zenodo since it will create DOI automatically when I tag the code so we will have it in not too long.

[2018-11-19 21:07] ringholm commented on #43
OK, great!

[2018-11-19 22:54] bast commented on #68
This is now done: https://github.com/openrsp/openrsp/releases

[2018-11-19 22:54] #68 closed, assigned to bast

[2018-11-20 18:40] #70 closed, assigned to bast

[2018-12-19 11:28] ringholm opened #76 "Small cleanups in printing of rsp tensor file"
When the response tensor file is printed, the following changes should be made:

* The line `NUM COMPONENTS` should be changed to `NUM_COMPONENTS` to be consistent with the format used for other lines
* The values of frequencies associated with perturbations should be rounded to some precision to avoid later processing wrongly marking frequencies as unequal due to float precision (i.e. so that `0.

[2018-12-20 13:58] bast commented on #76
I agree with the first but should we not round during post-processing? In other words, which part of the code or post-processing complains about unequal frequencies?

[2019-01-17 13:03] ringholm commented on #76
I think what spurred me to write this was my later python script for reading in these files and producing numpy tensors from them. Maybe this needs some more thought.

[2019-01-17 13:13] ringholm commented on #43
Is this issue settled and ready to close now?

[2019-01-17 13:33] bast commented on #43
It would be good if Zenodo and the DOI are mentioned here: http://www.openrsp.org/en/latest/citations.html - after that it can be closed.

[2019-01-21 20:47] ringholm commented on #63
Decision from today: @bingao (also @bast) will look at this but I will prepare a list of properties that I think give good code coverage.

[2019-01-21 20:52] ringholm commented on #76
Decided today: We round the frequencies when printing the response tensor file.

[2019-01-21 20:52] ringholm commented on #69
Decided today: @bast will do this.

[2019-01-21 20:54] ringholm commented on #62
From today's meeting notes: "[literate programming] will be abandoned; BG will make an issue and deliver it to RB once it is finished."

[2019-01-21 20:55] ringholm commented on #61
Decided today: I will go through and do a rough sorting into “can be easily reinstated”, “can be after some more work” and potentially “can be left out”; we will then consider these together.

[2019-01-21 20:56] ringholm commented on #54
Decided today: This is the responsibility of the module developers and we will let make the necessary updates or provide the information to us.

[2019-01-21 20:57] ringholm commented on #53
Decided today: No one in particular is responsible for this now but we will try to have the list be up-to-date.

[2019-01-21 20:58] ringholm commented on #43
Decided today: Will try to settle during this week.

[2019-01-21 20:58] ringholm commented on #38
Update: Daniel's documentation considered as part of work for https://github.com/openrsp/openrsp/issues/61 .

[2019-01-21 20:59] ringholm commented on #36
Update from today: We consider this as part of the work on https://github.com/openrsp/openrsp/issues/61 .

[2019-01-21 20:59] ringholm commented on #21
Update from today: This will be added after @bast's XC work in LSDalton.

[2019-01-21 21:00] ringholm commented on #20
Update from today: I will prepare a list of derivatives for hopefully adequate coverage and @bingao will implement it.

[2019-01-22 10:14] ringholm commented on #20
@bingao Is the scope of the tests that we intend to do here just to see if our call to some "nuclear contributions" callback works? If so, I don't think that many properties are needed - if you want to test for several of them, I could suggest the perturbation tuples `f`, `g`, `gf`, `ggf`, `gg`, `ggg`, which we generally expect to be nonzero(?), and `ff` which we expect to be all zeroes. But just

[2019-01-22 11:09] bingao commented on #20
According to our discussion yesterday, I think these unit tests should be general so that we may discard some of them during integration testing. So I prefer the former perturbation tuples you proposed. I will work on unit testing after I clean up the literate programming files.

[2019-01-22 18:05] ringholm commented on #76
But rounding when printing may still leave the possibility that some frequencies are wrongly counted as unequal inside OpenRSP but look equal in the output file, which may give inconsistencies during post-processing concerning the number of unique tensor elements. I now think we should print exactly as used in OpenRSP and not care that the numbers may look "ugly". I may have misunderstood this to

[2019-01-22 18:06] ringholm commented on #76
The risk is that sometimes, these precision errors could potentially make some calculations somewhat longer than necessary because collections of frequencies that should be equal could possibly be counted as not equal, but I think that is less problematic and perhaps not a frequent outcome.

[2019-01-22 18:18] #76 closed, assigned to ringholm

[2019-12-12 08:04] kdu002 opened #80 "Bugfix fourth order derivative and XCInt"
Following error message

lsdalton.x: /cluster/home/kdu002/Programs/LSDalton-xc-untested/build/xcint/src/xcint-build/balboa/src/balboa/balboa/Main.cpp:82: int Main::get_geo_offset(int, int, int) const: Assertion `id < geo_offset_size' failed.

when running acetonitrile 4GEO, pcseg-2, PBE0.

[2019-12-12 09:01] bast commented on #80
Thanks for posting this. The error comes from a dependency of XCint which is a dependency of LSDalton. I might move that issue to a different repo since the bugfix will likely not affect this repo but still good to have it here visible.

[2020-01-19 13:01] kdu002 commented on #80
Inputs:

[code]

and

[code]

[2020-01-19 13:13] kdu002 opened #81 "XC_GRID problem for semi-large molecule, pcseg-2 and PBE0"
Error message immediately:

[code]

[2020-01-19 13:15] kdu002 commented on #81
Inputs:

[code]

[code]

[2020-01-19 13:17] bast commented on #81
Probably a problem on LSDalton side but we are looking at it.

[2020-01-19 14:39] bast commented on #80
This is now solved:
- https://github.com/bast/balboa/commit/f7c0e4377e50847fadb88c24bc08d53e887f499b
- https://gitlab.com/dalton/lsdalton/commit/36d1c29184284019b96d73ba2eb7c5bb9cb6d542

[2020-01-19 14:39] #80 closed, assigned to bast

[2020-01-19 16:05] bast commented on #81
I suggest we move this issue to the LSDalton repo. I am almost sure this error happens on LSDalton code side, not within OpenRSP code or XCint code.

I looked a bit into the issue and have some questions but I think we should not generate more notifications here but rather in LSDalton.

[2020-01-19 21:40] bast commented on #81
Issue followed-up in https://gitlab.com/dalton/lsdalton/issues/67.

[2020-01-19 21:40] #81 closed, assigned to bast

[2020-06-15 16:42] ringholm commented on #62
@bingao is this issue ready to be closed? If so feel free to close it according to your judgment.

[2020-06-15 17:38] bingao commented on #62
Hei @ringholm I just checked the master branch. It is weird that the literate programming files are still there because I remembered I removed some files. Anyway, I may be incorrect. My plan is to totally remove the current literate programming files in the next release. So we can keep this issue open for some time. Thank you.

[2020-06-19 10:15] ringholm commented on #63
for after release v1.0.0

[2020-06-19 10:15] ringholm commented on #62
for after release v1.0.0

[2020-06-19 10:16] ringholm commented on #61
for after release v1.0.0

[2020-06-19 10:16] bingao commented on #63
Agree :-)

[2020-06-19 10:16] ringholm commented on #54
for after release v1.0.0

[2020-06-19 10:17] ringholm commented on #53
for after release v1.0.0 but include the DP paper in this list

[2020-06-19 10:18] ringholm commented on #43
settle before release

[2020-06-19 10:19] ringholm commented on #43
@bast will do

[2020-06-19 10:20] ringholm commented on #38
for after release v1.0.0

[2020-06-19 10:21] ringholm commented on #36
for after release v1.0.0 but soon after, main point to mention here is residue limitations and limitations for PDBS perturbations with nonzero freq

[2020-06-19 10:22] ringholm commented on #36
for @ringholm to do

[2020-06-19 10:23] ringholm commented on #21
that XC work now done, but remaining work for after release v1.0.0

[2020-06-19 10:28] ringholm commented on #20
for after release v1.0.0

[2020-06-20 16:51] bast commented on #43
Are there any changes in the list of authors compared to this: https://openrsp.org/en/latest/authors.html

[2020-06-21 19:17] ringholm commented on #43
No, these are all the authors as far as I'm aware. Please note that Daniel is to my knowledge not affiliated with a university anymore but I don't know his present affiliation.

[2020-06-23 09:45] ringholm opened #93 "Make the v1.0.0 release"
@bast @bingao @KennethRuud @danielhfriese @simensr

I'm collecting here various final tasks before the release for a better overview:

* Part of this process overlaps with settling #69 and #43
* Mint the release (@bast)
* Update LSDalton manual with DOI to release, refer to that commit from LSDalton (@bast)
* Settle (@ringholm and @KennethRuud) final questions about the format of the data from res

[2020-06-23 09:46] ringholm commented on #93
I have here a suggestion for the -

OpenRSP v1.0.0 release notes:

Code:

* Now requires Fortran 2008
* Rewrote linked list functionality for caching to instead use (reallocating) arrays
* "Number of components" marker in rsp_tensor output file now written as 'NUM_COMPONENTS' instead of 'NUM COMPONENTS'
* Significantly decreased usage of array constructors in function/subroutine arguments
* Now co

[2020-06-23 09:46] ringholm commented on #93
This was formed from making an "executive summary" of the commits since v1.0.0-alpha.

[2020-06-23 12:06] bast commented on #93
For next time we can work with a milestone or issue labels to avoid that we have several issues that deal with the same thing. Release list looks good, this is what I will add to the "release", like here: https://github.com/bast/runtest/releases

[2020-06-23 12:23] bast commented on #69
Will do after DOI is known.

[2020-06-23 12:35] bast commented on #43
My understanding of the steps left here:
- Keep author list of https://openrsp.org/en/latest/authors.html
- Assign a DOI
- Reference the DOI on https://www.openrsp.org/en/latest/citations.html with a recommended citation for the software

[2020-06-23 12:39] ringholm commented on #93
Good idea @bast about the milestone, and that sort of place was exactly what I pictured the list would go into.

[2020-06-23 12:41] ringholm commented on #43
That's the same understanding that I have!

[2020-06-23 12:46] #69 closed, assigned to bast

[2020-06-23 12:56] bast commented on #93
But then again this is a really useful meta-issue to keep us on track. Thanks for pulling everything together.

[2020-06-26 16:24] ringholm commented on #93
Update: I spoke with Daniel right now and he and Kenneth have now settled the residue data format questions to my satisfaction. @bast I would like to add the following point to the release notes:

* The "excitation" perturbation in a single residue calculation is now given the label EX1 in the rsp_tensor file; however, its current implementation still results in triplication of the calculation res

[2020-06-26 16:31] bast commented on #93
Great! Let me know when it's the right time and I will then create the release and DOI.

[2020-06-29 13:32] ringholm commented on #93
So @bast the stress tests have so far not revealed anything conclusive and they are likely to time out before running into any further problems that would warrant delaying the release.

However, as I mention in https://gitlab.com/dalton/lsdalton/-/issues/85 , we see many failing OpenRSP tests for Intel 18 builds on the current https://testboard.org/cdash/index.php?project=LSDalton . I'm not sure i

[2020-06-30 07:53] bast commented on #93
I will send a PR soon to add release notes to the repository so that we have them in one place and then I can simply copy-paste them to the release preparation form.

[2020-06-30 07:54] ringholm commented on #93
Nice! I think we will go ahead and warn about Intel/2018 too, just to be on the safe side.

[2020-06-30 09:23] bast commented on #93
Followed-up in #101. Closing the issue to have fewer discussion streams.

[2020-06-30 09:23] #93 closed, assigned to bast

[2020-06-30 10:27] #43 closed, assigned to bast

[2020-08-16 10:15] #53 closed, assigned to nobody

[2020-08-16 10:17] ringholm commented on #53
I decide that we will for now let the question of how far back to go in looking for papers to put here rest. @ajthorva if you think that papers you were involved with should also be listed on this page, then I don't have any issue with that and you should feel free to add them. With #108 I therefore consider this issue closed for now.

[2020-08-16 10:19] ringholm commented on #62
For @bingao to do - please give an estimate of when you plan to do it

[2020-08-16 10:20] ringholm commented on #61
For me to do - I will do the sorting into categories next weekend and potentially have some of us meet afterwards to go through it.

[2020-08-16 10:23] ringholm commented on #54
@bingao @foeroyingur @robertodr @simensr @ajthorva for you to consider, please either provide a reference/references that I will add, or add it yourself, or say you don't care.

[2020-08-16 10:26] bast commented on #61
Great. This will really help.

[2020-08-16 10:34] #36 closed, assigned to ringholm

[2020-08-16 10:46] foeroyingur commented on #54
If there is an historical account that includes the version that was/is in Dalton, then PElib is worth a mention I think. For that we have a PElib reference and there is also our paper calculating multi-photon absorption in GFP.

[2020-08-16 10:47] foeroyingur commented on #54
For the latest version in LSDalton there will be FraME but that development is not far enough so that it should be mentioned yet.

[2020-08-16 12:16] bingao commented on #62
Hei. I will start by the end of this month, because I am currently working on the ECP integrals in LSDalton.

[2020-08-16 12:20] bingao commented on #54
As regarding Gen1Int, it is OK without a reference as it is not maintained unfortunately and will be replaced with tIntegral.

[2020-08-18 18:35] ajthorva commented on #54
First, at the end of the line with cgto-diff-eri, perhaps add "(superseded by HODI)".

The link for it would be https://gitlab.com/openrsp/cgto-diff-eri/ - if we add that link I would however have to turn the repo Public (and add a LICENSE file). Would cgto-diff-eri contributors @ringholm, @bast and @bingao be OK with that?

Cgto-diff-eri was never published IIRC, but something that resembles a ci

[2020-08-18 18:37] bingao commented on #54
Hi @ajthorva  I only worked little on cgto-diff-eri, so I am OK with any decision you make.

[2020-08-18 20:24] ringholm commented on #54
@foeroyingur I can add something for PElib, how about you add something for FraME when it's ready?
@bingao That's fine for Gen1Int and please feel free to bring in tIntegral once ready.
@ajthorva I don't think I did anything for cgto-diff-eri, maybe you remember better than me. I'm fine with you and Gao on this and I can make a reference like you sketch.

[2020-08-18 21:06] bast commented on #54
Absolutely ok from my perspective. Would be good to add a DOI also.

[2020-08-23 11:33] ringholm commented on #61
This is my rough sorting. I did not do this in a detailed manner and it can be inaccurate. In addition to what is listed here, it may also be necessary to make some more overarching text to "sew together" the sections. Most of this stuff is for me and @bingao to do and in most cases where I marked both of us as involved, I think I should do the first iteration. So my suggestion is that I weave thi

[2020-08-23 11:36] ringholm commented on #38
This topic is adequately brought to attention in #61 and considered to be part of it, so I'm closing the present issue not due to resolution but due to it already being raised in #61.

[2020-08-23 11:36] #38 closed, assigned to ringholm

[2020-08-24 08:26] foeroyingur commented on #54
Sounds good. Let me know if you need any references for PElib.

[2020-08-31 08:03] ringholm commented on #54
I will set aside some time the coming weekend to update this. @foeroyingur I will gladly take a reference written like you prefer for PElib.

[2020-08-31 09:32] foeroyingur commented on #54
I'm not sure which format you use but something along this would be fine:
[code]